{% extends 'base.html.twig' %}

{% block title %}voiture
{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css" integrity="sha256-FjyLCG3re1j4KofUTQQXmaWJw13Jdb7LQvXlkFxTDJI=" crossorigin="anonymous">

{% endblock %}

{% block monTitre %}voiture
{% endblock %}

{% block body %}
{{dump(data)}}
    <div id="calendrier">
    </div>

{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js" integrity="sha256-8nl2O4lMNahIAmUnxZprMxJIBiPv+SzhMuYwEuinVM0=" crossorigin="anonymous"></script>
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier");

            let calendar = new FullCalendar.Calendar(calendarElt, {
          initialView: 'dayGridMonth',
          locale:'fr',
          timeZone: 'Europe/Paris',
          buttonText:{
            today:    'aujourd\'hui'

          },
          events: {{ data|raw }}
        });
        calendar.render();
    
        }
    </script>
{% endblock %}


